/* orange CF8E6D
blue 56A8F5
azure 2AACB8
green 6AAB73
Background 1E1F22
white text: BCBEC4
Purple: C77DBB
 */

body {
	background-color:#1E1F22;
	color:#BCBEC4;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

html body.main_body font font ul li{
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  width: 100%;
  border-color: #CF8E6D;

}

 /* unvisited link */
a:link {
  color: #2AACB8;
  text-decoration: none;
  
}
/* visited link */
a:visited {
  color: #C77DBB;
  text-decoration: none;
}


/* SVG Icons */
a.icon_chi_rho_link svg{
    width:80px;
    height:80px;
    fill:#CF8E6D;
}
a.icon_index_link svg{
    width:60px;
    height:60px;
    margin-right:20px;
    margin-left:20px;
    stroke: #CF8E6D;
}

/* Title on index.html THE NEW AMERICAN BIBLE */
.index_title{
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}
.main_index_title{
    font-size:50px;
    margin:0px;
    text-align: center;
}
.date_index_title{
margin:0px;
  text-align: center;
}
.credits_and_index_title{
margin:0px;
  text-align: center;
}




.text_size_3 , .header_title{
    font-size:40px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

.text_size_2, ul, i{
    font-size:30px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

.text_size_1{
    font-size:20px;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/* .verdana_size_2{
    font-size:44px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
} */


/* Number of footnotes */
.second_size_3{
    font-size:25px;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* footnotes Text */
.verdana_size_1{
    font-size:25px;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.second_size_2{
}
.second_size_1{
}

/* Center "New American Bible" on all pages */
.header_table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




/*Previous - Next */
.verdana_navigate_top{
    margin:0px;
    font-size:60px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: #CF8E6D;
}
/* Top Previous - Next */
html body.main_body font.verdana_navigate_top center font.second_size_2 b a{
color: #CF8E6D;
}
/* Bottom Previous - Next */
html body.main_body center font.verdana_navigate_top center b a{
color: #CF8E6D;
}



/* Main Body Text */
html body.main_body p.MsoNormal{
    font-size:25px;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html body.main_body p.MsoNormal sup font.verdana_size_2 sup a{
    font-size:25px;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
