/* orange CF8E6D
blue 56A8F5
azure 2AACB8
green 6AAB73
Background 1E1F22
white text: BCBEC4
Purple: C77DBB
 */

/* Defaults */
body {
	background-color:#1E1F22;
	color:#BCBEC4;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 40px;

}
hr {
  width: 100%;
  border-color: #CF8E6D;
}
a:link {
  color: #2AACB8;
  text-decoration: none;
  
}
a:visited {
  color: #C77DBB;
  text-decoration: none;
}




/* index.hml */
/* Title on index.html THE NEW AMERICAN BIBLE */
.index_title{
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}
.main_index_title{
    font-size:50px;
    margin:0px;
    text-align: center;
}
.date_index_title{
margin:0px;
  text-align: center;
}
.credits_and_index_title{
margin:0px;
  text-align: center;
}


.credits_title{
    font-size:20px;
    display:inline;
}

.credits_table tr td{
 padding-right: 10px;
}
.credits_table{
    font-size:15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
   }


/* --------------------- */





/* SVG Icons */
a.icon_chi_rho_link svg{
    width:80px;
    height:80px;
    fill:#CF8E6D;
}
a.icon_index_link svg{
    width:60px;
    height:60px;
    margin-right:20px;
    margin-left:20px;
    stroke: #CF8E6D;
}
/* --------------------- */



/* Center "New American Bible" on all pages */
.header_table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header_title{
    font-size:60px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}
/* --------------------- */

/* Chapter Info */
.verdana_navigate_top .second_size_1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10em;
}


.verdana_navigate_top .second_size_2{
    color: #2AACB8;
}

.verdana_navigate_top .second_size_2{
    color: #2AACB8;
}

/* Actual navigate */
.navigate_bottom{
    font-size:40px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: #2AACB8;
}

.navigate_bottom a{
    color: #2AACB8;
}


/* Chapter number Book name and hierarhcy*/
.text_size_2, ul, i{
    font-size:30px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

.text_size_1{
    font-size:20px;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* --------------------- */

/*Previous - Next */
.verdana_navigate_top{
    margin:0px;
    font-size:40px;
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    /* color: #CF8E6D; */
}
/* Top Previous - Next */
html body.main_body font.verdana_navigate_top center font.second_size_2 b a{
    color: #2AACB8;
}
/* Bottom Previous - Next */
html body.main_body center font.verdana_navigate_top center b a{
    color: #2AACB8;
}
/* --------------------- */

/* Main Body Text */
/* Main Body Text */
p.MsoNormal, .main_text_block{
    font-size:30px;
    width:50em;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
}
/* Text Number */
p.MsoNormal{
    color: #CF8E6D;
}
/* Text*/
p.main_text_block{
    color:#BCBEC4;
}
/* --------------------- */



/* Footnotes */
.second_size_3, .verdana_size_1{
    font-size:30px;
    width:50em;
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
/* Number of footnotes */
.second_size_3{

}

/* footnotes Text */
.verdana_size_1{

}
/* --------------------- */


/* Unused classes */
.second_size_2{
}
.second_size_1{
}